#block1{
    width: 300px;
    height: 300px;
    padding-left: 20px;
    padding-top: 2px;
    background-color: #ff634d;
    margin: auto;
}
#main{
    margin-top: 10px;
    margin-bottom: 10px;
}
table , th{
    margin: auto;
    width: 300;
    border: 1px solid rgb(98, 94, 94);
    border-collapse: collapse;
    background-color: #ABA0A0;
}
th{
    padding: 0px;
    text-align: center;
}
#name{
    width: 270px;
    height: 20px;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}
#Surname{
    width: 270px;
    height: 20px;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}
#Gender{
    width: 270px;
    height: 20px;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}
#Birth{
    width: 270px;
    height: 20px;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}
#add{
    position: absolute;
    width: 270px;
    height: 30px;
    border: none;
    border-radius: 10px;
    top: 240px;
    background-color: #fdd982;
}